body {
    font-family: Arial, sans-serif;
    background-color: #FFFCF2;
    color: #333333;
    margin: 0;
}

header {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    background:linear-gradient(#00000099, #00000085);
    align-items: center;
    margin:0px;
    width: 100%;
    z-index: 50;
    height : 50px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left:15px;
    padding-right : 10px;
    mask: linear-gradient(black, black, transparent);
    -webkit-mask: linear-gradient(black, black, rgba(0, 0, 0, 0.75), transparent);
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
}


nav {
    display: flex;
}

header img {
    box-shadow: 0 2px 4px rgb(255, 0, 0);
    /* il faut mettre une meilleur image car ca pue sa mere l'ombre */
}


ul {
    list-style: none;
    padding-left: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-right: 10px;
    margin : 0px;
}

li {
    margin: 0 8px;
}

nav li:last-child {
    margin-right: 15px;
}


h1 {
    font-size: 24px;
    font-weight: bold;
}

p {
    font-size: 16px;
    line-height: 1.5;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    color: #FFFCF2;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}


nav a {
    display: block;
    background-color: #c27eb4;
    padding :10px;
    border-radius: 8px;
}



.content-header {
    height: 100%;
    align-items: center;
}